.minha_classe {
    background-color: green;
}

#id1 {
    color: black;
    font-size: 75px;
    padding-left: 60px;
}


/* .mcontainer{
    display: essa poha aqui mostra coisas 

    justify-content: center;
    text-align-last: space-between;
} */
